.checkbox-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
  width: 85%;
}

.checkbox-title h5.ant-typography {
  margin-top: -1rem;
  font-size: 12px;
  padding-left: 18px;
  color: grey;
}

input[type="checkbox"] {
  background-color: red;
}
